@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
    
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cart-badge {
  @apply absolute ml-4 mt-2 text-center w-5 h-auto bg-red-500 text-white text-xs font-semibold rounded-full px-1 py-0.5;
}

